<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>currently</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>time</th>
      <td>1600522995</td>
    </tr>
    <tr>
      <th>summary</th>
      <td>Ciel Couvert</td>
    </tr>
    <tr>
      <th>icon</th>
      <td>cloudy</td>
    </tr>
    <tr>
      <th>precipIntensity</th>
      <td>0</td>
    </tr>
    <tr>
      <th>precipProbability</th>
      <td>0</td>
    </tr>
    <tr>
      <th>temperature</th>
      <td>80.48</td>
    </tr>
    <tr>
      <th>apparentTemperature</th>
      <td>81.25</td>
    </tr>
    <tr>
      <th>dewPoint</th>
      <td>61.48</td>
    </tr>
    <tr>
      <th>humidity</th>
      <td>0.52</td>
    </tr>
    <tr>
      <th>pressure</th>
      <td>1014.1</td>
    </tr>
    <tr>
      <th>windSpeed</th>
      <td>8.61</td>
    </tr>
    <tr>
      <th>windGust</th>
      <td>14.18</td>
    </tr>
    <tr>
      <th>windBearing</th>
      <td>125</td>
    </tr>
    <tr>
      <th>cloudCover</th>
      <td>1</td>
    </tr>
    <tr>
      <th>uvIndex</th>
      <td>3</td>
    </tr>
    <tr>
      <th>visibility</th>
      <td>10</td>
    </tr>
    <tr>
      <th>ozone</th>
      <td>257.7</td>
    </tr>
  </tbody>
</table>